<section class="landing-wrapper">
    <div class="landing-wrapper__title" [@fadeInOut]>
        <h1 class="white-text">Picasso</h1>
        <p>
            Picasso is your personal digital worker that demonstrates advanced NLP capabilities using Deep Neural Networks.
        </p>
        <div class="get-started-btn">
            <!-- <button nz-button nzType="primary" nzShape="round" [nzSize]="'large'" (click)="gettingStarted()">GETTING STARTED</button> -->
            <button class="gettingStarted" (click)="gettingStarted()">Getting Started</button>
        </div>
    </div>
</section>